<link href="/assets/nav.css" rel="stylesheet" type="text/css" />

<nav id="main-nav">
  <a href="/calendar"><div class="nav_label">Calendar</div></a>
  <a href="/appointment"><div class="nav_label">Appointments</div></a>
  <a href="/invites"><div class="nav_label">Meeting Invites</div></a>
  <a href="/signup" class="logged_out"><div class="nav_label">Sign Up</div></a>
  <a href="/login" class="logged_out"><div class="nav_label">Login</div></a>
  <a href="/logout" class="logged_in"><div class="nav_label">Logout</div></a>
</nav>
