<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meeting Invites</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <link href="/assets/invites.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <div id="username"><%= username %></div>
    <h2>Meeting Invites</h2>
    <div id="appointments_request_list">
      <ul>

      </ul>
    </div>
    <script src="invites.js"></script>
  </body>
</html>
